<div class="row" style="padding: 20px 5px 30px 5px; ">
  <div class="col-xs-4"> <!-- col-sm-offset-2  -->
      
      <ul style="font-size: 13px; line-height:14px;">
        <li class="address-book">
        
        <!--OyBro-->
        <% name = "Виталий"; %>
        <% sms = "Привет, этo .!..!!."; %>
        <% img_src = "http://cs625326.vk.me/v625326976/35f50/DFD5GyWp6gk.jpg" %>
        <% mobile_id = "oy_bro_mobile_number" %>
        <div  class="item" onclick="$('#num').val('<%=mobile_id%>'); $('.avatar')[0].src = '<%=img_src%>'; $('#msg').attr('placeholder', '<%=sms%>');"><%=name%></div>
        
        <!--Yrec-->
        <% name = "Юра Westoto"; %>
        <% sms = "Привет, это ..."; %>
        <% img_src = "http://cs622220.vk.me/v622220976/544d2/I6rjyzI_bjo.jpg" %>
        <% mobile_id = "westoto_mobile_number" %>
        <div  class="item" onclick="$('#num').val('<%=mobile_id%>'); $('.avatar')[0].src = '<%=img_src%>'; $('#msg').attr('placeholder', '<%=sms%>');"><%=name%></div>

        <!--Temka-->
        <% name = "Тёмыч"; %>
        <% sms = "Привет, это ..."; %>
        <% img_src = "http://cs631530.vk.me/v631530508/33177/L7nno77Bt2s.jpg" %>
        <% mobile_id = "temka_mobile_number" %>
        <div  class="item" onclick="$('#num').val('<%=mobile_id%>'); $('.avatar')[0].src = '<%=img_src%>'; $('#msg').attr('placeholder', '<%=sms%>');"><%=name%></div>

        </li>
        
        
      </ul>
  </div>
    <div class="col-xs-8" style="margin-top: -6px;">
      <%= form_tag("/main/postmsg", method: "post", style: "text-align: center;") do %>
        <div class="subumit-row" style="display:none"><%= label_tag(:n, "формат: 093 или +38067") %></div>
        <div class="subumit-row" style="display:none"><%= text_field_tag(:n, '', id: 'num', placeholder:'номер') %></div>
        <br/>
        <a href="#" id="circle" class="ec-circle" style='position: relative; height: 100px; width: 85px; display: inline-block;'>
            <img href="#" class="ec-circle avatar" style="position: absolute; top: 0; left: 0; opacity: 0.9; height: 100px; width: 85px;" src="#"/> 
          </a>
        <div class="subumit-row" style="display:none"><%= label_tag(:m, "Текст sms:") %></div>
        <div class="subumit-row"><%= text_field_tag(:m, '', id:'msg', placeholder:'сообщение') %></div>
        <br/>
        <div class="subumit-row">
          <!--<%= submit_tag("Отправить!", data: { confirm: "Are you sure?" }, id: 'send_btn') %>  -->
          <%= submit_tag("Отправить!", id: 'send_btn', style: 'disabled=disabled;') %>
          
        </div>
      <% end %>
    </div>
    
</div>
