<div class="row" style="padding: 20px 5px 30px 5px; ">
  <div class="col-xs-2"> <!-- col-sm-offset-2  -->
      
      <ul style="font-size: 18px; line-height:30px;">
        <li class="address-book">
        <div  class="item" onclick="$('#num').val('0939722093');$('#msg').attr('placeholder', 'Привет Vitaly');">Vitaly</div>
        <div  class="item" onclick="$('#num').val('0936036027');$('#msg').attr('placeholder', 'Привет Rusik');">Rusik</div>
        <div class="item" onclick="$('#num').val('0674737407');$('#msg').attr('placeholder', 'ЮРеЦ');">ЮРеЦ</div>
        <div class="item" onclick="$('#num').val('0931450101');$('#msg').attr('placeholder', 'Pixel');">Pixel</div>
        
        
         <%#= <div class="item" onclick="$('#num').val('0633479227');$('#msg').attr('placeholder', 'Nataly');">НАТАША</div> %>
         <%#= <div class="item" onclick="$('#num').val('0630120180');$('#msg').attr('placeholder', 'Привет Мама');">Мама L</div> %>
         <%#= <div class="item" onclick="$('#num').val('0962138870');$('#msg').attr('placeholder', 'Привет Мама');">Мама K</div> %>
         
         
         <%#= !!<div class="item" onclick="$('#num').val('0630401165');$('#msg').attr('placeholder', 'Привет Pasha');">ПАША</div> %>
         
         <%#= <div class="item" onclick="$('#num').val('0973909838');$('#msg').attr('placeholder', 'Привет Папа');">Папа</div> %>
         <%#= <div class="item" onclick="$('#num').val('0933084322');$('#msg').attr('placeholder', 'ОлеgOn');">ОлеgOn</div> %>
         
         <%#= !!<div class="item" onclick="$('#num').val('0674737407');$('#msg').attr('placeholder', 'ЮРеЦ');">ЮРеЦ</div> %>
         <%#= !!<div class="item" onclick="$('#num').val('0932009255');$('#msg').attr('placeholder', 'Мадрид');">Mudri$</div> %>
         <%#= !!<div class="item" onclick="$('#num').val('0632933995');$('#msg').attr('placeholder', 'Кошкаманка');">TANyA</div> %>
        </li>
      </ul>
  </div>
    <div class="col-xs-10" style="margin-top: 37px;">
      <%= form_tag("/main/postmsg", method: "post") do %>
        <div class="subumit-row" style="display:none"><%= label_tag(:n, "формат: 093 или +38067") %></div>
        <div class="subumit-row" style="display:none"><%= text_field_tag(:n, '', id: 'num', placeholder:'номер') %></div>
        <br/>
        <div class="subumit-row" style="display:none"><%= label_tag(:m, "Текст sms:") %></div>
        <div class="subumit-row"><%= text_field_tag(:m, '', id:'msg', placeholder:'сообщение') %></div>
        <br/>
        <div class="subumit-row">
          <!--<%= submit_tag("Отправить!", data: { confirm: "Are you sure?" }, id: 'send_btn') %>  -->
          <%= submit_tag("Отправить!", id: 'send_btn') %>
        </div>
      <% end %>
    </div>
    
</div>
