
.noul {
	text-decoration: none;
}

.yanone {
	font-family: 'Yanone Kaffeesatz', 'Arial Narrow', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	
}


   @font-face {
     font-family: 'proximanova-light';
     font-style: light;
     font-weight: 200;
     src: url('../fonts/ProximaNovaLight.eot');
     src: url('../fonts/ProximaNovaLight.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ProximaNovaLight.woff') format('woff'),
          url('../fonts/ProximaNovaLight.ttf') format('truetype');
   }
    
   @font-face {
     font-family: 'proximanova-regular';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/ProximaNovaRegular.eot');
     src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ProximaNovaRegular.woff') format('woff'),
          url('../fonts/ProximaNovaRegular.ttf') format('truetype');
   }
    
   @font-face {
     font-family: 'proximanova-italic';
     font-style: italic;
     font-weight: 300;
     src: url('../fonts/ProximaNovaRegularIt.eot');
     src: url('../fonts/ProximaNovaRegularIt.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ProximaNovaRegularIt.woff') format('woff'),
          url('../fonts/ProximaNovaRegularIt.ttf') format('truetype');
   }
    
   @font-face {
     font-family: 'proximanova-semibold';
     font-style: semibold;
     font-weight: 400;
     src: url('../fonts/ProximaNovaSemibold.eot');
     src: url('../fonts/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ProximaNovaSemibold.woff') format('woff'),
          url('../fonts/ProximaNovaSemibold.ttf') format('truetype');
   }
    
   @font-face {
     font-family: 'proximanova-bold';
     font-style: bold;
     font-weight: 600;
     src: url('../fonts/ProximaNovaBold.eot');
     src: url('../fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/ProximaNovaBold.woff') format('woff'),
          url('../fonts/ProximaNovaBold.ttf') format('truetype');
   }


.signika {
	font-family: 'proximanova-regular';
}


div#userbar {
	height: 30px;
	background: #e3e3e3 url(lightgreygrad40.png) top left repeat-x;
}

div#userbar div.content {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Yanone Kaffeesatz', 'Arial Narrow', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-weight: 300;
	text-align: right;
	font-size: 20px;
	color: #224466;
}

div#userbar div.content > a {
	text-decoration: none;
	color: #224466;
}

div#userbar div.content > a:hover {
	color: #336699;
}

div#userbar div.content a:hover {
	text-decoration: underline;
}


div.newheaderfull {
	height: 660px;
	background-color: #e5e5da;
	background: url(highlight_shaded2.png) repeat-x, url(stripes2.png) repeat;
	 
	-pie-background: url(highlight_shaded2.png) repeat-x, url(stripes2.png) repeat;
	box-shadow: 0px 1px 10px -2px #000;
	-webkit-box-shadow: 0px 1px 10px -2px #000;
	-moz-box-shadow: 0px 1px 10px -2px #000;
	-o-box-shadow: 0px 1px 10px -2px #000;
	position: relative;
	z-index: 2;
}

div.newheadermed {
	height: 250px;
	background-color: #e5e5da; 
	background: url(stripes2.png) repeat top left;
	box-shadow: 0px 1px 10px -2px #000;
	-webkit-box-shadow: 0px 1px 10px -2px #000;
	-moz-box-shadow: 0px 1px 10px -2px #000;
	-o-box-shadow: 0px 1px 10px -2px #000;
	position: relative;
	z-index: 2;
}

div.newheadershort {
	height: 75px;
	background-color: #e5e5da; 
	background: url(stripes2.png) repeat top left;
	box-shadow: 0px 1px 10px -2px #000;
	-webkit-box-shadow: 0px 1px 10px -2px #000;
	-moz-box-shadow: 0px 1px 10px -2px #000;
	-o-box-shadow: 0px 1px 10px -2px #000;
	position: relative;
	z-index: 2;
}


div#newheader div.headercontent {
    
    width: 847px;
    height: 100%;
	margin: 0 auto;
	text-align: left;
}
div#newheader div.mainmenu {
// 	height: 70px;
	margin: 0 0 30px;
}
div#newheader div.mainmenu div.logo {
	margin-top: 5px;
// 	width: 230px;
// 	height: 60px;
	float: left;
}
div#newheader div.mainmenu .logo img {
  height: 50px;  	
}
div#newheader div.mainmenu div.menu {
	
	margin-top: 2px;
	// 	width: 750px;
	// 	height: 70px;
	float: left;
}
@media (max-width: 992px) {
	div.newheadershort {
		height: auto;
	}
	div#newheader div.headercontent {
		width: auto;
	}
	div#userbar div.content {
    	margin: 0 auto;
    	width: 100%;
	}
	div#newheader div.mainmenu {
		margin-bottom: 10px!important;
	}
	div#newheader div.mainmenu div.logo {
		float: none;
		display: block;
		text-align: center;
		
	}
  div#newheader div.mainmenu div.menu ul {
    height:auto!important;
    margin: 10px 0 10px 10px!important;
    display: inline-block;
    
  }
  div#newheader div.mainmenu .menu {
  	text-align: center;
  	width: 100%;
  	display: inline-block;
  }
  div#newheader div.mainmenu div.menu ul li > a {    
  	
  	font-size: 16px!important;
  }
  

  
  //div#newheader div.mainmenu .logo img {
  	
  //}
}

div#newheader div.mainmenu div.menu ul {
 	height: 20px;
	margin: 20px 0 20px 60px;
	text-align: center;
}
div#newheader div.mainmenu div.menu ul li {
	float: left;
	list-style: none;
	
	margin: 0 30px;
}
div#newheader div.mainmenu div.menu ul li > a {
	text-decoration: none;
	color: #224466;
	padding: 2px;
	font-weight: 400;
	font-size: 22px;
	border-bottom: 2px solid transparent;
}

div#newheader div.mainmenu div.menu ul li > a.thickul:hover {
	border-bottom: 2px solid #febb13;
}

div#newheader div.mainmenu div.menu ul li > a:hover {
	color: #336699;
}

div#newheader div.mainmenu {
	margin: 0 0 30px;
}

div#headlinebox {
	float: left;
	width: 500px;
}
