.invalid {
    background-color: rgba(150, 145, 145, 0.45)!important;
}

#send_btn.invalid:hover {
    outline-color: red;
    /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
}

/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}



// effect
.ec-circle{
    width: 420px;
    height: 420px;
    -webkit-border-radius: 210px;
    -moz-border-radius: 210px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-family: 'Kelly Slab', Georgia, serif;
    background: #000000 url(../images/1.jpg) no-repeat center center;
    box-shadow: inset 0 0 1px 230px rgba(27, 118, 173, 0.62), inset 0 0 0 17px #BAA9D4;
    transition: box-shadow 600ms ease-in-out;
    display: block;
    outline: none;
    
        
        
        
}

.ec-circle-hover{
    box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #c18167,
		0 0 10px rgba(0,0,0,0.8);
}

.ec-circle:hover{
    box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #c18167,
		0 0 10px rgba(0,0,0,1.3);
}


// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    /*background-color: #BBAB73;*/
    background-color: #D6A76C;
}

input {
    margin: 10px 0;
    padding: 8px 10px;
    background-color: #DFFEFF;
    font-size: 16px;
    border-radius: 6px;

}
#send_btn {
    margin: 10px 0;
    padding: 10px 25px;
    background-color: #92D850;
    font-size: 18px;
    border-radius: 5px;
}

ul li {
    list-style:none; 
}

ul {
    padding-left: 1px;
    
}

.addr-book-title {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.address-book {
    
    border-radius: 6px;
    width: 100%;
    border: 1px solid white;
}

.address-book div {
    
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 15px;
    
    padding: 4px 20px 6px 12px;
    text-align: center;
    border: 1px solid black;
    background-color: #CAE2DD;
    border-radius: 6px;
    border-color: gray;
}



.footer {
    
    box-shadow: 0px -6px 17px -5px #000000;
	
    
    /* */
    color:#ADD6B2;
    /*margin-top: 200px;*/
    padding:4px 0px 3px 10px ; 
    background-color:#A8CCC8; 
    font-size: 14px; 
    font-weight: bold; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 5px;
}

.address-book .item {
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease;
    height: 40px;
    width: 100%;
    min-width: 120px;
    background-color: white;
}

.address-book .item:hover {
    background-color: #B2CCFB;
}

.address-book .item.clicked {
    background-color: #52E22E;
}

#send_btn {
    min-height: 50px;
    min-width: 150px;
    cursor: pointer;
    background-color: #ACC198;
    
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
    
    // -webkit-transition: color 0.7s ease;
    // transition: color 0.7s ease;
    -webkit-transition: border-radius 0.6s ease;
    // transition: font-size 0.1s ease;
    border-radius: 15px 10px 40px 100px;
}

#send_btn:hover {
    background-color: #3470CA;
    font-size: 18px;
    border-radius: 35px 9px 95px 15px;
}
.subumit-row {
   text-align: center;
}


// @keyframes shake {
//   0% {
//     transform: translate(0px, 0px) rotate(0deg); }
//   2% {
//     transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
//   4% {
//     transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
//   6% {
//     transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
//   8% {
//     transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
//   10% {
//     transform: translate(2.5px, 2.5px) rotate(-0.5deg); }
//   12% {
//     transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
//   14% {
//     transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
//   16% {
//     transform: translate(2.5px, -0.5px) rotate(1.5deg); }
//   18% {
//     transform: translate(2.5px, 2.5px) rotate(0.5deg); }
//   20% {
//     transform: translate(2.5px, 2.5px) rotate(0.5deg); }
//   22% {
//     transform: translate(2.5px, 2.5px) rotate(0.5deg); }
//   24% {
//     transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
//   26% {
//     transform: translate(1.5px, 1.5px) rotate(1.5deg); }
//   28% {
//     transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
//   30% {
//     transform: translate(2.5px, 1.5px) rotate(0.5deg); }
//   32% {
//     transform: translate(2.5px, 2.5px) rotate(1.5deg); }
//   34% {
//     transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
//   36% {
//     transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
//   38% {
//     transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
//   40% {
//     transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
//   42% {
//     transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
//   44% {
//     transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
//   46% {
//     transform: translate(0.5px, -0.5px) rotate(0.5deg); }
//   48% {
//     transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
//   50% {
//     transform: translate(2.5px, 1.5px) rotate(1.5deg); }
//   52% {
//     transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
//   54% {
//     transform: translate(2.5px, 1.5px) rotate(0.5deg); }
//   56% {
//     transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
//   58% {
//     transform: translate(1.5px, 2.5px) rotate(0.5deg); }
//   60% {
//     transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
//   62% {
//     transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
//   64% {
//     transform: translate(1.5px, 2.5px) rotate(0.5deg); }
//   66% {
//     transform: translate(-1.5px, -0.5px) rotate(1.5deg); }
//   68% {
//     transform: translate(0.5px, -1.5px) rotate(1.5deg); }
//   70% {
//     transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
//   72% {
//     transform: translate(1.5px, 1.5px) rotate(1.5deg); }
//   74% {
//     transform: translate(1.5px, -0.5px) rotate(1.5deg); }
//   76% {
//     transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
//   78% {
//     transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
//   80% {
//     transform: translate(-1.5px, 0.5px) rotate(1.5deg); }
//   82% {
//     transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
//   84% {
//     transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
//   86% {
//     transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
//   88% {
//     transform: translate(-1.5px, 2.5px) rotate(0.5deg); }
//   90% {
//     transform: translate(2.5px, 0.5px) rotate(1.5deg); }
//   92% {
//     transform: translate(0.5px, -1.5px) rotate(1.5deg); }
//   94% {
//     transform: translate(-0.5px, 2.5px) rotate(-0.5deg); }
//   96% {
//     transform: translate(0.5px, 1.5px) rotate(0.5deg); }
//   98% {
//     transform: translate(1.5px, -1.5px) rotate(1.5deg); } }

