#userbar
  .content.yanone
    %a{:href => "#", :onclick => "toggleBox('loginbox'); return false;"} Login
    %a{:href => "#"} Register
    %div{:style => "position: relative;"}
      #loginbox.signika{:style => "display: none; position: absolute; right: 20px; top: 20px; z-index: 3;"}
        .popboxinner.pie{:style => "background: #f6f6f6 url(http://static1.grsites.com/images/lightgreygrad40.png) bottom left repeat-x;"}
          %a{:href => "#", :onclick => "toggleBox('loginbox'); return false;"}
            %img{:src => "http://static1.grsites.com/images/icons/winclose16.png", :style => "float:right;"}/
          %div{:style => "padding: 10px;"}
            %form{:action => "http://www.grsites.com/login/", :method => "POST", :name => "loginform", :style => "border: 0; padding: 0; margin: 0;"}
              %table
                %tbody
                  %tr
                    %td{:style => "font-size: 16px"} Username:   
                    %td
                      %input{:name => "username", :size => "16", :type => "text", :value => ""}/
                  %tr
                    %td{:style => "font-size: 16px"} Password:   
                    %td
                      %input{:name => "password", :size => "16", :type => "password", :value => ""}/
              %input{:name => "next_url", :type => "hidden", :value => "/archive/textures/"}/
              = succeed "\u{a0}\u{a0}" do
                %input{:type => "submit", :value => "Log in"}/
              = succeed "\u{a0}\u{a0}" do
                %a{:href => "#", :onclick => "return GB_showCenter('Forgot your password?', this.href, 200, 400 )", :style => "font-size: 16px"} Lost your Password?
                
#newheader.pie.newheadershort
  .headercontent
    .mainmenu.clearfix
      .logo
        = image_tag('logo.png')

      .menu.yanone
        %ul#menuul
          %li
            %a{:href => "#", :onmouseout => "mclosetime();", :onmouseover => "mopen('m-des');"} Profile
            // .grmc{:onmouseout => "mclosetime();", :onmouseover => "mcancelclosetime();"}
            //   #m-des.grmenudiv1.pie{:style => "visibility: hidden;"}
            //     .grmenudiv2
            //       %a.yanone{:href => "http://www.grsites.com/generate/category/7/"} Бен Смит
            //       %a.yanone{:href => "http://www.grsites.com/generate/category/5/"} Джо Кейт
            //       %a.yanone{:href => "http://www.grsites.com/generate/category/1/"} Джек Ли
          %li
            %a.thickul{:href => "#"} Friends
          %li
            %a.thickul{:href => "#"} Contacts
          %li
            %a{:href => "#", :onmouseout => "mclosetime();", :onmouseover => "mopen('m-arc');"} Groups
            .grmc{:onmouseout => "mclosetime();", :onmouseover => "mcancelclosetime();"}
              // #m-arc.grmenudiv1.pie
              //   .grmenudiv2
              //     %a.yanone{:href => "http://www.grsites.com/archive/textures/"} Sms
              //     %a.yanone{:href => "http://www.grsites.com/archive/fonts/"} Chat

