<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'website/header'%>

  <div class="container">
    <%= yield %>
  </div>
  

  <div class="footer">
    <p >beta version: 0.2</p>
    <p ></p>
  
  
  <!--<iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/230700833&amp;color=00aabb&amp;"></iframe>-->
</div>

    
    


</body>
</html>
